<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Net.RoslynDiagnostics" version="1.1.1-beta1-20150818-01" targetFramework="net46" developmentDependency="true" />
  <package id="Microsoft.Net.ToolsetCompilers" version="1.0.0-rc3-20150520-02" targetFramework="net46" />
  <package id="StyleCop.Analyzers" version="1.0.0-alpha010" targetFramework="net46" />
</packages>